h1{
    color: red;
}

#box {
    background-color: white#ccc;
    height: 100px;
}

#box h2 {
    color: pink;
}

.img {
    margin-top: 20px;
    background-color: #ccc;
    height: 300px;
    width: 100%;
}

img.im {
    margin: 30px 20px 20px 0;
    width: 200px;
    height: auto;
    object-fit: cover;
}